root = true

# All files
[*]
insert_final_newline = false
charset = utf-8

# Python scripts
[*.py]
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true

# Shell scripts
[*.sh]
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true

# Markdown files
[*.md]
end_of_line = lf
indent_size = 4

